---
---
// General

body {
  background: black;
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
}

// Video background

#video-background {
  background: center url({{site.baseurl}}/images/background-poster.webp) no-repeat;
  background-size: cover;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -100;
}

// Prevents video background from showing beneath the footer.
// This can happen when the viewport is wide enough to cause the
// video's height to be longer than the page's content.
// This acts a fixed layer under the page that extends to the bottom.
#video-background-cover {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 720px;
  z-index: -1;
}

// Header

header {
  height: 128px;
  margin: 0 auto;
  width: 1024px;
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    color: white;
    font: normal normal normal 16px/1.4em roboto,sans-serif;
    line-height: 77px;
    margin: 0 4px;
    padding: 16px 8px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      border-top: white solid 4px;
    }
  }
}

// Introduction section

#introduction-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  // indroduction-section height = video background height - header height
  height: 592px;
  justify-content: center;

  h1 {
    color: white;
    font: bold 18px sans-serif;
    letter-spacing: 0.4em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

#reel-link {
  color: white;
  display: block;
  font: 18px barlow,sans-serif;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  svg {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;
    height: 1em;
    position: relative;
    stroke: rgb(94, 151, 255);
    stroke-opacity: 1;
    stroke-width: 0;
    top: .125em;
    width: 1em;
  }
}

// Work section

#work-section {
  background: white;
}

// Footer

footer {
  background: white;
  height: 256px;
}

#footer-content {
  margin: 0 auto;
  padding: 48px;
  position: relative;
  width: 1024px;
}

#copyright {
  font: 16px barlow,sans-serif;
  text-transform: uppercase;
}

#social-icon-container {
  position: absolute;
  right: 0;
  top: 48px;

  a {
    text-decoration: none;
  }

  img {
    height: 43px;
    // TODO Is this necessary?
    object-fit: cover;
    width: 43px;
  }
}
