---
---
@import 'mixins';
@import 'variables';

// General

body {
  background: black;
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  overflow-x: hidden;
}

// Miscellaneous
@import 'miscellaneous/image-background';
@import 'miscellaneous/section-header';
@import 'miscellaneous/video-link';
@import 'miscellaneous/video-player';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/404/page';
@import 'pages/index/page';
@import 'pages/services/page';
@import 'pages/contact/page';
