---
---
@import 'mixins';
@import 'variables';

// General

body {
  background: black;
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  overflow-x: hidden;
}

// Video background

#video-background {
  background: center / cover url({{site.baseurl}}/images/background-poster.webp) no-repeat;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -100;
}

// Prevents video background from showing beneath the footer.
// This can happen when the viewport is wide enough to cause the
// video's height to be longer than the page's content.
// This acts a fixed layer under the page that extends to the bottom.
#video-background-cover {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 720px;
  z-index: -1;
}

// Header

header {
  height: 128px;
  margin: 0 auto;
  // TODO Adjust width for smaller screen sizes
  width: 1024px;
  position: relative;

  nav {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      list-style-type: none;
      margin: 0;
    }

    li {
      display: inline-block;
    }

    a {
      color: white;
      font: normal normal normal 16px/1.4em $font-family-roboto;
      line-height: 77px;
      margin: 0 4px;
      padding: 16px 8px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-top: white solid 4px;
      }
    }
  }
}

// Introduction section

#introduction-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  // indroduction-section height = video background height - header height
  height: 592px;
  justify-content: center;

  h1 {
    color: white;
    font: bold 18px sans-serif;
    letter-spacing: 0.4em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

// Video link include
.video-link {
  color: white;
  display: block;
  font: 18px $font-family-barlow;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  svg {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;
    height: 1em;
    position: relative;
    stroke: rgb(94, 151, 255);
    stroke-opacity: 1;
    stroke-width: 0;
    top: .125em;
    width: 1em;
  }
}

// #video-link {
//   color: white;
//   display: block;
//   font: 18px $font-family-barlow;
//   letter-spacing: 0.15em;
//   text-align: center;
//   text-decoration: none;
//   text-transform: uppercase;

//   svg {
//     fill: rgb(255, 255, 255);
//     fill-opacity: 1;
//     height: 1em;
//     position: relative;
//     stroke: rgb(94, 151, 255);
//     stroke-opacity: 1;
//     stroke-width: 0;
//     top: .125em;
//     width: 1em;
//   }
// }

// Work section

#work-section {
  background: white;

  video-link {
    color: white;
    text-decoration: none;
  }
}

.featured-poster {
  background: center / cover no-repeat;
  height: 572px;
  position: relative;
  width: 100%;

  h2 {
    color: white;
    font: bold 64px arial;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .video-link {
    color: white;
    text-decoration: none;
  }
}

.poster {
  background: center / cover no-repeat;
  height: 270px;
  min-width: 480px;
  position: relative;
  width: 480px;

  h3 {
    color: white;
    font: bold 24px arial;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    width: 400px;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Carousel

.carousel {
  background: black;
  position: relative;

  nav {

    svg {
      color: white;
      height: 24px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
    }
  }
}

.carousel-content-container {
  display: flex;
  transform: translate3d(0px, 0, 0);
  white-space: nowrap;
}

@mixin carousel-button {
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  height: 66px;
  position: absolute;
  width: 50px;
  z-index: 1;

  &.disabled {
    display: none;
  }
}

.carousel-previous-button {
  @include carousel-button;
  left: 0;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.carousel-next-button {
  @include carousel-button;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

// Footer

footer {
  background: white;
  height: 256px;
}

#footer-content {
  margin: 0 auto;
  padding: 48px;
  position: relative;
  // TODO Adjust width for smaller screen sizes
  width: 1024px;
}

#copyright {
  font: 16px $font-family-barlow;
  text-transform: uppercase;
}

#social-icon-container {
  position: absolute;
  right: 0;
  top: 48px;

  a {
    text-decoration: none;
  }

  img {
    height: 43px;
    // TODO Is this necessary?
    object-fit: cover;
    width: 43px;
  }
}

// Components
@import 'components/image-background';
@import 'components/section-header';
@import 'components/video-player';

// Sections
@import 'sections/services/index';
@import 'sections/about/index';
@import 'sections/contact/index';
