{% include layout/header.html %}
<video autoplay
  loop
  id="video-background"
  muted
  playsinline
  poster="{{site.baseurl}}/images/index/background-poster.jpg"
  preload="auto"
  style="background: center / cover url({{site.baseurl}}/images/index/background-poster.jpg) no-repeat;">
  <source src="{{site.baseurl}}/videos/index/background.mp4" type="video/mp4">
</video>
<section id="introduction-section">
  <h1>Welcome to OurVinyl Productions LLC</h1>
  {% include miscellaneous/video-link.html href="https://www.youtube.com/embed/bZ7ESyr2rFk?rel=0&autoplay=1" text="Play Video" %}
</section>
{% include miscellaneous/video-player.html %}
{% include layout/footer.html %}
