<section id="work-section">
    <div class="featured-poster" style="background-image: url({{site.baseurl}}/images/work/featured-posters/2018-reel.jpg);">
      <div class="content">
        <h2>2018 Reel</h2>
        {% include miscellaneous/video-link.html href="https://www.youtube.com/embed/bZ7ESyr2rFk?rel=0" text="Play Video" %}
      </div>
    </div>
    <div class="carousel">
      <nav>
        <div class="carousel-previous-button disabled" role="button">
          <svg viewBox="0 0 53 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <path fill="currentColor" stroke-linejoin="miter" d="M5.16 99.14L2.15 96.13 48.6 50.11 2.15 4.3 5.16 1.29 54.62 50.11"></path>
          </svg>
        </div>
        <div class="carousel-next-button disabled" role="button">
          <svg viewBox="0 0 53 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <path fill="currentColor" stroke-linejoin="miter" d="M5.16 99.14L2.15 96.13 48.6 50.11 2.15 4.3 5.16 1.29 54.62 50.11"></path>
          </svg>
        </div>
      </nav>
      <div class="carousel-content-container">
        {% for video in site.data.carousel-videos %}
          {% include pages/work/carousel-video-poster.html href=video.href poster=video.poster title=video.title %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% include miscellaneous/video-player.html %}
</section>
