#page-404 {
  color: white;
  font-size: 16px;
  height: 512px;
  margin: 10px auto;
  max-width: 600px;
  text-align: center;

  h1 {
    font-size: 64px;
    letter-spacing: 4px;
    line-height: 1;
    margin: 30px 0;
  }

}
