#services-section {

  .services-container {
    display: flex;

    & > * {
      flex-grow: 1;
    }
  }
}

// TODO Move to own component?
.page-image-background {
  background: center / cover no-repeat;
}

@import 'pages/services/section';