#about-section {

  .about-content-center {
    background-color: $dark-gray;
    color: white;
    flex-grow: 1;
    text-align: center;

    h3 {
      font: bold 32px $font-family-roboto;
      letter-spacing: 4px;
      margin: 64px 0 0 0;
      text-transform: uppercase;
    }

    p {
      font: 16px $font-family-barlow;
    }

    .subtitle {
      font-style: bold;
      text-transform: uppercase;
    }

    .story {
      line-height: 24px;
      margin: 64px auto 0;
      width: 256px;
    }
  }

  .about-content-left {
    flex-grow: 1;
  }

  .about-content-right {
    flex-grow: 1;
  }

  .about-section-content-container {
    display: flex;
    height: 512px;
  }
}
