<div class="page-image-background" style="background-image: url({{site.baseurl}}/images/about/poster.jpg)">
  {% include layout/header.html %}
  {% include miscellaneous/section-header.html subtitle="Why we do what we do" title="About Us" %}
</div>
<div class="about-container">
  {% include miscellaneous/image-background.html class="about-content-image-1" url="/about/story-1.jpg" %}
  <div class="about-content-center">
    <div class="story-title">
      <h3>OurVinyl<br>Productions</h3>
      <p class="subtitle">Works with you.</p>
    </div>
    <div class="story">
      <p>The splendor and potential inherent in the human relationship with music is an unmatched aspect of life. Music in a live setting is a distinctly sublime sensory experience. When coupled with creative and high-level filmmaking—that which sincerely reinforces the energy of the music—one can generate potent content that is truly greater than the sum of its parts. Creating such content is why OurVinyl exists.</p>
      <p>We are centrally situated in Music City USA—also known as Nashville, Tennessee—but are also well versed in traveling to film musicians all over the country. We developed the unusual ability to film and record musicians performing live in captivating settings by developing our own YouTube channel, which has over 400 videos and counting. We’ve now taken that hard-earned know-how (not to mention the hard-earned collection of gear) into for-hire production work. Since then we’ve worked with prestigious clients such as Google, YouTube Music, HBO, Warner Music Group, Sony and Universal Music Group. Additionally, we have had the pleasure of working directly with musicians such as Dispatch, Leon Bridges, Ed Sheeran, Dan and Shay, Jamie Lynn Spears, Karole G, R3HaB, Jay Park, Chloe X Hale, Hunter Hayes, Allen Stone, and Grammy nominated songwriters such as Justin Tranter and Erika Ender.</p>
      <p>We truly believe that the power of live music is unequaled. Those fleeting moments are genuine and authentic. When captured correctly it is more engaging than a music video. When recorded correctly it’ll sound better than the album version. We’d like to capture and record it for you.</p>
    </div>
  </div>
  {% include miscellaneous/image-background.html class="about-content-image-2" url="/about/story-2.jpg" %}
</div>
{% include layout/footer.html %}
