.about-container {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.about-content-center {
  background-color: $dark-gray;
  color: white;
  flex-grow: 1;
  position: relative;
  text-align: center;

  h3 {
    font: bold 32px $font-family-roboto;
    letter-spacing: 4px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font: 16px $font-family-barlow;
  }

  .story-title {
    margin: 42px auto;
  }

  .subtitle {
    font-style: bold;
    margin: 4px 0 0;
    text-transform: uppercase;
  }

  .story {
    line-height: 24px;
    margin: 42px auto;
    text-align: justify;
    width: 512px;

    p {
      margin: 42px;
    }

    @media (max-width: 512px) {
      width: 100%;
    }
  }
}

.about-content-image-1 {
  flex-grow: 1;

  @media (max-width: 768px) {
    height: 256px;
  }
}

.about-content-image-2 {
  flex-grow: 1;

  @media (max-width: 768px) {
    display: none;
  }
}
