.about-container {
  display: flex;
  height: 512px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    height: 1024px;
  }
}

.about-content-center {
  background-color: $dark-gray;
  color: white;
  flex-grow: 1;
  min-width: 384px;
  position: relative;
  text-align: center;

  h3 {
    font: bold 32px $font-family-roboto;
    letter-spacing: 4px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font: 16px $font-family-barlow;
  }

  .story-title {
    left: 50%;
    position: absolute;
    top: 33%;
    transform: translate(-50%, -50%);
  }

  .subtitle {
    font-style: bold;
    margin: 4px 0 0;
    text-transform: uppercase;
  }

  .story {
    left: 50%;
    line-height: 24px;
    margin: 0;
    position: absolute;
    top: 67%;
    transform: translate(-50%, -50%);
    width: 256px;
  }
}

.about-content-image-1 {
  flex-grow: 1;
}

.about-content-image-2 {
  flex-grow: 1;

  @media (max-width: 768px) {
    display: none;
  }
}
