<footer>
  <div id="footer-content">
    <span id="copyright">© 2018 OurVinyl Productions</span>
    <div id="social-icon-container">
      <!-- TODO Replace with local images -->
      <a href="#TODO">
        <img alt="YouTube Icon"
              src="{{site.baseurl}}/images/youtube-icon.png">
      </a>
      <a href="#TODO">
        <img alt="Facebook Icon"
              src="{{site.baseurl}}/images/facebook-icon.png">
      </a>
      <a href="#TODO">
        <img alt="Instagram Icon"
              src="{{site.baseurl}}/images/instagram-icon.png">
      </a>
      <a href="#TODO">
        <img alt="Twitter Icon"
              src="{{site.baseurl}}/images/twitter-icon.png">
      </a>
    </div>
  </div>
</footer>
