.section-header {
  background: center / cover no-repeat;
  color: white;
  height: 768px;
  position: relative;
  width: 100%;

  h2 {
    font: bold 32px $font-family-barlow;
    letter-spacing: 16px;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    font: 16px $font-family-barlow;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .content-container {
    @include centered-absolute;
    text-align: center;
    width: 100%;
  }
}
