#video-player {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  &.show {
    display: block;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .close-button {
    cursor: pointer;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;

    &:hover {
      svg {
        color: rgb(118, 118, 118);
      }
    }
    svg {
      color: white;
      height: 17px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 17px;
    }
  }

  .video-container {
    position: relative;
    // Support desired aspect ratio -- 56.25% fits 16:9
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
  }

  .video-position {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
}
