.video-link {
  color: white;
  display: block;
  font: 18px $font-family-barlow;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  svg {
    fill: rgb(255, 255, 255);
    fill-opacity: 1;
    height: 1em;
    position: relative;
    stroke: rgb(94, 151, 255);
    stroke-opacity: 1;
    stroke-width: 0;
    top: .125em;
    width: 1em;
  }
}
