<div class="page-image-background" style="background-image: url({{site.baseurl}}/images/services/poster.jpg)">
  {% include sections/header/index.html %}
  {% include components/section-header.html subtitle="We do a lot of other sick shit too" title="We do more than video" %}
</div>
<div class="services-container">
  {% include sections/services/service.html class="video" description="We do the best video in the world. Our clients tell us this daily." name="Video" svg="video" %}
  {% include sections/services/service.html class="storytelling" description="We're masters of the narrative. We manipulate emotions and play with hearts." name="Storytelling" svg="storytelling" %}
  {% include sections/services/service.html class="audio" description="Our audio sounds alright." name="Audio" svg="audio" %}
  {% include sections/services/service.html class="photo" description="We have at least a couple cameras." name="Photo" svg="photo" %}
</div>
{% include sections/footer/index.html %}