<div class="page-image-background" style="background-image: url({{site.baseurl}}/images/contact/poster.jpg)">
  {% include layout/header.html %}
  {% include miscellaneous/section-header.html subtitle="Contact us below" title="We want to talk" %}
</div>
<div class="contact-container">
  {% include pages/contact/subsection.html
    class="contact-us"
    content="Tel. 123-456-7890<br>Fax. 123-456-7890<br>Email. <a href=\"mailto: ovproductions@ourvinyl.com\">ovproductions@ourvinyl.com</a><br>500 Terry Francois Street,<br>San Francisco, CA 94158"
    title="Contact<br>Us"
  %}
  {% include pages/contact/subsection.html
    class="visit-us"
    content="Monday - Friday 11:00 - 18:30<br>Saturday 11:00 - 17:00<br>Sunday 12:30 - 16:30"
    title="Visit<br>Us"
  %}
</div>
{% include layout/footer.html %}
