<html>
  <head>
    <title>{{page.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Roboto" rel="stylesheet">
    <link href="{{site.baseurl}}/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">
    <!-- TODO Make async and/or place at bottom? -->
    {% if page.script_name %}
      <script src="{{site.baseurl}}/js/{{page.script_name}}.js" type="text/javascript"></script>
    {% endif %}
    <meta content="maximum-scale=1.0, initial-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <!-- TODO Remove from production version -->
    <meta name="robots" content="noindex">
  </head>
  <body>
    {{content}}
  </body>
</html>
